USE [master]
GO
/****** Object:  Database [fpl_daotao]    Script Date: 8/3/2021 1:50:22 PM ******/
CREATE DATABASE [fpl_daotao]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'fpl_daotao', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.TUNGNH230802\MSSQL\DATA\fpl_daotao.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'fpl_daotao_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.TUNGNH230802\MSSQL\DATA\fpl_daotao_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [fpl_daotao].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [fpl_daotao]
GO
/****** Object:  Table [dbo].[grade]    Script Date: 8/3/2021 1:50:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[grade](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[masv] [nvarchar](50) NULL,
	[tienganh] [int] NULL,
	[tinhoc] [int] NULL,
	[GDTC] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[students]    Script Date: 8/3/2021 1:50:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[masv] [nvarchar](50) NOT NULL,
	[hoten] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[sodt] [nvarchar](50) NULL,
	[gioitinh] [bit] NULL,
	[diachi] [nvarchar](50) NULL,
	[hinh] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[masv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users_Login]    Script Date: 8/3/2021 1:50:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users_Login](
	[username] [nvarchar](50) NOT NULL,
	[passwork] [nvarchar](50) NULL,
	[role] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[grade]  WITH CHECK ADD  CONSTRAINT [fk1] FOREIGN KEY([masv])
REFERENCES [dbo].[students] ([masv])
GO
ALTER TABLE [dbo].[grade] CHECK CONSTRAINT [fk1]
GO
USE [master]
GO
